body{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(53, 17, 65);
    color: rgb(141, 247, 155);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

main{
    padding: 20px;
    text-align: center;
}

.metric{
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    margin: 20px auto;
    padding: 15px;
    width: 200px;
}

button{
    background-color: rgb(85, 2, 110);
    color: rgb(166, 228, 21);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(14, 151, 25);
}

footer{
    background-color: rgb(53, 17, 65);
    color: rgb(141, 247, 155);
    text-align: center;
    padding: 15px;
}